<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <ul>
            <li  th:each="note : ${notes}">
                <a th:text="${note.name}" th:href="@{'./notes/' + ${note.id}}"/>
                <p th:text="${note.creationDate}"></p>
            </li>
        </ul>
        <a href="./notes/newnote">Add new note</a>
    </body>
</html>
