<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <input type="text" th:value="${name}"/>
        <br>
        <textarea rows="10" cols="100" wrap="hard" th:text="${content}">
            
        </textarea>
        
        <h3>Article list:</h3>
        <div th:if="${articles != null}">
            <div th:each="a : ${articles}">
                <p><a th:href="@{${a.link}}" th:text="${a.name}"/></p>
                <p th:text="${a.description}"/>
            </div>
        </div>
        
        <button>Save</button>
    </body>
</html>
