<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}"></p>
        </div>
        <form th:action="@{/users/registration}" th:object="${user}" method="post">
            <div><label> User Name : <input type="text" name="username" th:field="*{username}" required/> </label></div>
            <div><label> Password: <input type="password" name="password" th:field="*{password}" required/> </label></div>
            <div><label> Retype Password: <input type="re-password" name="re-password" required/> </label></div>
            <div><input type="submit" value="Sign Up"/></div>
        </form>
    </body>
</html>
